spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/feedback_db
    username: postgres
    password: Juliana200814
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: mikecp200814@gmail.com
    password: cezm imkd snie qhiv
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
        ssl:
          trust: smtp.gmail.com

server:
  port: 8080

app:
  google:
    place-id: "SEU_PLACE_ID_AQUI"

  jwt:
    secret: "uma_senha_bem_grande_e_secreta_para_assinar_o_token_123456"
    expiration: 3600000 # 1 hora
